<% provide(:title, "Home") %>
<body>
    <p id="js-script_visible">読み上げるテキストと時間を設定してください</p>

    <%# 最初は非表示 %>
    <p id="js-script_hidden1">設定しました</p>
    <p id="js-script_hidden2">設定したテキスト</p>
    <p id="js-script_hidden3">設定した時間</p>

    <%= form_with model: @post, local: true do |f| %>
        <table>
            <tr> 
                <th>
                    <%= f.label "テキスト", id: "js-label_text", for: "js-text" %>
                </th>
                <td>
                    <%= f.text_field :content, id:"js-text", value:"時間になりました", placeholder:"読み上げるテキストを入力してください" %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= f.label "時間", id: "js-label_time", for: "js-time" %>
                </th>
                <td>
                    <%= f.time_field :end_time, id:"js-time" %>
                </td>
            </tr>
        </table>
        <%= f.button "設定", id:"js-button" %>
    <% end %>
    <%= button_to "削除", root_path, method: :get, id:"js-reset" %>
</body>

